/* Начало обязательные параметры */
.exform_bg{position:fixed;width:100%;height:100%;top:0;left:0;background-color:#000;display:none;z-index:800;}
.exform_wrapper{display:none; z-index:999;}
.mf_clear{clear:both;}
input.name{display:none;}
/* Конец  обязательные параметры */

.exform_wrapper input.mf_error{border:1px solid #D91A19!important;color:#D91A19!important;}
.exform_wrapper .lading {background:url(../imgs/loading.gif) 50% 50% no-repeat;}

.brdrad7 {border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;}
.boxshdw {box-shadow:1px 1px 7px 1px #ccc; -webkit-box-shadow:1px 1px 7px 1px #ccc; -moz-box-shadow:1px 1px 7px 1px #ccc;}